<head> <meta charset="utf-8">
<title>
Calligraffiti
 - Web font preview
</title>
<link rel="stylesheet" href="styles.css"><style>
    canvas
    {
    width:200px;
        height:200px;
    }</style>
    <script src="script.js"></script>
</head>
<body><canvas id="canvas">
              Tu navegador no soporta el elemento <code>canvas</code> de HTML5.
          </canvas></body>
</html>
