.an {
filter:url(filtros.svg#filter3768);


}    
.fi {
filter:url(filtros.svg#filter4036);


}    
    
    #colores {
position: absolute;    
    
    }
    #luz {
position: absolute;    
    }
    #luz:hover {
    position: absolute;
filter: url(https://dl.dropboxusercontent.com/u/101275290/filtro.svg#filter4178);    
    
    }
    
    div {
background-color: transparent;    
    text-decoration:none;
    }
        iframe {
width:333px;
    height:333px;
}
#dog {
background-color: rgba(132,243,121,0.6);
-moz-transition: 5s;
-webkit-transition: 5s;
}


#dog:hover {
background-color: rgba(167,111,249,0.5);
-moz-transition: 5s;
-webkit-transition: 5s;
}
     #canvasControles {
            position: absolute;
            box-shadow: 0px 0px 10px #000;
        }
        
     #canvasVideo {
            position: absolute;
        }
                .gr {
        background-color: red;
        filter: url(filtros.svg#filter4005);
        
        }
        
.bm {
        background-color: red;
        filter: url(filtros.svg#filter4229);
        
        }
.cd {
        background-color: red;
        filter: url(filtros.svg#filter4241);
        
        }
        
        .bn {

             filter: url(filtros.svg#filter4237);

        }
#box {
    position: relative;
     width: 333px;
    height: 333px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,1));
        -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,1));
}

#box::before {
    content: '';
    width: 333px;
    height: 200px;
    background: -moz-element(#canvasControles)  no-repeat;

           
    position: absolute;
    top: 301px;
    -moz-transform: matrix(1, 0, 0, -1, 0, 0);
        -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -1;
    
    opacity:0.5;
     -webkit-box-shadow: inset 0 150px 50px -12px #fff;
       -moz-box-shadow: inset 0 150px 50px -12px #fff;
        -ms-box-shadow: inset 0 150px 50px -12px #fff;
         -o-box-shadow: inset 0 150px 50px -12px #fff;
            box-shadow: inset 0 150px 50px -12px #fff;
}
#box::after {
   
    content: '';
    width: 501px;
    height: 300px;
    background: -moz-element(#canvasVideo)  no-repeat;
    position: absolute;
    top: 301px;
    -moz-transform: matrix(1, 0, 0, -1, 0, 0);
        -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 0;
    
    opacity:0.4;
     -webkit-box-shadow: inset 0 150px 50px -12px #fff;
       -moz-box-shadow: inset 0 150px 50px -12px #fff;
        -ms-box-shadow: inset 0 150px 50px -12px #fff;
         -o-box-shadow: inset 0 150px 50px -12px #fff;
            box-shadow: inset 0 150px 50px -12px #fff;
}





.image-block { width:666px; margin:0px 10px; float:left; } 
.reflection { position:relative; } 
.reflection canvas { 
    transform:translateY(333px);
    -webkit-transform: scaleY(-1); 
       -moz-transform: scaleY(-1); 
        -ms-transform: scaleY(-1); 
         -o-transform: scaleY(-1); 
            transform: scaleY(-1); 
    filter: flipv; opacity:0.20; 
    filter: alpha(opacity='20'); 
} 
.overlay { transform:translateY(333px);
    position:absolute; top:140px; left:0px; width:333px; height:333px; 
    background-image: -moz-linear-gradient( center bottom, rgb(255,255,255) 60%, rgba(255,255,255,0) 75%); 
    background-image:   -o-linear-gradient( rgba(255,255,255,0) 25%, rgb(255,255,255) 40%); 
    background-image:     -webkit-gradient( linear, left bottom, left top, color-stop(0.60, rgb(255,255,255)), color-stop(0.75, rgba(255,255,255,0))); 
    filter: progid:DXImageTransform.Microsoft.Gradient( gradientType=0, startColor=0, EndColorStr=#ffffff); 
} 

span {
    position         : relative;
    display          : block;
    margin           : 10px;
    width            : 150px;
    height           : 150px;
    color            : transparent;
   
}

span::after {
    content   : "";
    position  : absolute;
    top       : 100%;
    width     : inherit;
    height    : inherit;
    opacity   : 0.45;

    background-image: inherit;
  
    -webkit-transform: rotateX(180deg);
       -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
         -o-transform: rotateX(180deg);
            transform: rotateX(180deg);
  
    -webkit-box-shadow: inset 0 150px 50px -12px #fff;
       -moz-box-shadow: inset 0 150px 50px -12px #fff;
        -ms-box-shadow: inset 0 150px 50px -12px #fff;
         -o-box-shadow: inset 0 150px 50px -12px #fff;
            box-shadow: inset 0 150px 50px -12px #fff;
}

