
@font-face {
	font-family: 'Calligraffiti';
	src: url('EXL_____.eot?') format('eot'), 
	     url('EXL_____.woff') format('woff'), 
	     url('EXL_____.ttf')  format('truetype'),
	     url('EXL_____.svg#Calligraffiti') format('svg');
}
body {
        font-family:Calligraffiti;
    font-kerning:normal;
        font-style:italic;
    font-synthesis:weight;
        font-stretch:semi-expanded;
    font-weight:700;

        
            
        }
        
        header ul div {
        float:left;
            padding-right:14px;
            padding-left:12px;
        }
        div {
        border-radius: 33px;
           
        }
        
     #a {
        background: radial-gradient(rgba(241,168,16,0.9) 45%,  rgba(16,78,17,0.6));
         
            font-weight: 800;
            font-stretch:semi-condensed;
        
            
        }
        
            #b {
        background: radial-gradient(rgba(66,178,17,0.6),  rgba(251,198,146,0.9));
               color: rgba(15,14,195,1);
        }
        
        div {
animation-name: perro;
            animation-duration: 11s;
            animation-iteration-count:infinite;
                
        }
        
        @keyframes perro
        {
        0% {transform:scale(1)}
            25% {transform:skewY(35deg)}
            35% {transform:scaleX(2)}
                    50% {transform:scaleY(3)}
            66% {transform:scaleY(2)}
            88% {transform:rotateX(66deg) }
            96% {transform:rotateY(44deg)}
            100% {transform:scaleX(2)}
        }
     
        div {
        position:relative;
            
        }
        section {
        position:relative;
        }
         aside {
        transform:translateY(122px);
            margin:22px;
            padding:100px;
            margin:55px;
        }
        article {
        transform:translateY(122px);
            margin:22px;
        }
        section {
        margin:55px;
            border-radius:44px;
            padding: 22px;
        }
        
        img {
        width:277px;
        transition-duration:3s;
        }
        img:hover
        {transform:scale(2);
       
        transition-duration:3s;
        transition-timing-function:cubic-bezier(.42, 0, .58, 1)}
        #killler {
        width:500px;
        height:100px;}
        aside {
        width:419px;
            height:69px;
                           }
        aside {
        
         animation-name: mueve;
            
            animation-duration:15s;
            animation-iteration-count:infinite;}
        @keyframes mueve {
        0%{-moz-transform:translate(150px,6px)}
        30%{-moz-transform:translate(350px,-5px)}
        56%{-moz-transform:translate(-150px,13px)}
        70%{-moz-transform:translate(250px,0px)}
        100%{-moz-transform:translate(15px,0px)}
        }
footer {
width:444px;
    height:444px;
}